body {
  margin: 0;
  padding: 0;
}

.new-order {
  float: right;
  font-weight: bold;
  font-size: 27px;
  border-radius: 23px;
  text-align: center;
  height: 45px;
  width: 45px;
}

.new-order span {
  position: relative;
  bottom: 5px;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

#sort {
  margin-bottom: 10px;
}
